<template>
  <div>
    <h1>APT GROUPS GRAPHS</h1>
    <p>
      Visualize live data from the ATT&CK service.
    </p>
    <Controls ref="controls"></Controls>
  </div>
</template>

<script>
import Controls from "@/components/Controls";
export default {
  name: 'Main',
  components: {Controls},
  methods: {

  }
}
</script>


<style scoped>

</style>
